<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="vscode.install" version="1.104.1"/>
	<package id="git" version="2.51.0"/>
	<package id="nvm" version="1.2.2"/>
	<package id="azure-cli" version="2.77.0"/>
	<package id="android-sdk" version="26.1.1"/>
	<package id="cloudberryexplorer.azurestorage" version="3.1.0.17"/>
	<package id="microsoftazurestorageexplorer" version="1.39.1"/>
	<package id="ngrok" version="3.22.1"/>
	<package id="postman" version="11.46.6"/>
</packages>